<p>create-team-members works!</p>
<div class="col-md-6" user-container>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Team Member</h3>
    </div>


    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Name:</label>
        <input
          type="text"
          formControlName="name"
          placeholder="Full Name of the user"
          name="name"
          id="name"
          class="form-control"
          required minlength="4"
        />
      </div>

      <div class="form-group">
        <label>Email ID:</label>
        <input
          type="text"
          formControlName="email"
          placeholder="username"
          name="email"
          id="email"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label>Phone Number:</label>
        <input
          type="text"
          formControlName="phoneNo"
          placeholder="123456789"
          name="phoneNo"
          id="phoneNo"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label>Date of Joining:</label>
        <input
          type="date"
          formControlName="doj"
          placeholder="Joing Date"
          name="doj"
          id="doj"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label>Active:</label>
        <input
          type="radio" formControlName="isActive" placeholder="isActive" name="isActive" id="isActive" class="form-control" value="true" /> Yes
        <input
          type="radio" formControlName="isActive" placeholder="isActive" name="isActive" id="isActive" class="form-control" value="false" /> No
      </div>

      <div class="form-group">
        <label>Photo Path:</label>
        <input
          type="text"
          formControlName="photoPath"
          placeholder="assets/images/male.jpg"
          name="photoPath"
          id="photoPath"
          class="form-control"
        />
      </div>

      <p>
        <!-- <button class="btn btn-success" [disabled]="!profileForm.valid" (click)="addTeamMember(profileForm)">Submit</button> -->
        <button class="btn btn-success" [disabled]="!profileForm.valid">Submit</button>
      </p>
      <p></p>
    </form>
  </div>
</div>
