.panel-title {
  background-color: rgb(40, 43, 214);
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid  #343a40;
}

.panel.panel-primary{
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border: 1px solid  #343a40;
}
